.textZwallet {
  font-size: 29px;
  color: #6379f4;
  font-weight: bold;
  padding-top: 10px;
}

.navbarZwallet {
  border-radius: 0px 0px 20px 20px;
}

.mt-n1 {
  margin-top: -0.35rem;
}

.profileName {
  color: #3a3d42;
  font-weight: bolder;
}

.notification-active {
  display: block;
  position: absolute;
  top: 4rem;
  /* max-width: 400px; */
  width: 100%;
  height: max-content;
  background: #ffffff;
  box-shadow: 0px 0px 70px rgba(99, 99, 99, 0.15);
  border-radius: 20px;
}

@media (min-width: 768px) {
  .containerMenu {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .containerMenu {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .notification-active {
    width: 95vw;
  }
}

@media screen and (max-width: 1024px) {
  .notification-active {
    width: 35vw;
    margin-right: 3.5rem;
  }
}
