.auth__wrapper {
  height: 100%;
}

.header___auth {
  width: 100%;
  text-align: left;
}

.left__auth {
  height: 100vh;
  width: 60%;
}

.right__auth {
  height: 100%;
  width: 40%;
}

.left__auth-content {
  padding: 0 25%;
  padding-top: 5%;
  background-image: url(../img/image/imgAuth.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.right__auth-content {
  margin-top: 15%;
  padding-left: 10%;
  padding-top: 5%;
  height: 100%;
  padding-right: 25%;
}

.header___auth-visible {
  display: none;
}

.zwallet-img-preview {
  margin-left: -10%;
}

@media screen and (max-width: 1440px) {
  .right__auth-content {
    margin-top: 15%;
    padding-left: 10%;
    padding-top: 5%;
    height: 100%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 1024px) {
  .left__auth-content {
    padding: 0 10%;
    padding-top: 2%;
  }
  .zwallet-img-preview {
    margin-top: -8%;
    margin-left: -8%;
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 992px) {
  .left__auth {
    display: none;
  }
  .right__auth {
    width: 100%;
  }
  .right__auth-content {
    padding: 12px 2rem;
  }
  .header___auth-visible {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .left__auth {
    display: none;
  }
  .right__auth {
    width: 100%;
  }

  .right__auth-content {
    padding: 12px 2rem;
  }
  .header___auth-visible {
    display: block;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .left__auth {
    display: none;
  }

  .auth__wrapper .d-flex {
    display: flex;
    flex-direction: column;
  }
  .right__auth {
    width: 100%;
  }
  .right__auth-content {
    padding: 12px 2rem;
  }
  .header___auth-visible {
    display: block;
    margin-bottom: 40px;
  }
}
