.auth__wrapper {
  height: 100%;
}

.header___auth {
  width: 100%;
  text-align: left;
}

.left__auth {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  position: relative;
  width: 60%;
}

.right__auth {
  height: 100%;
  width: 40%;
}

.bg__image-auth {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-image: url(../img/image/imgAuth.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.left__auth-content {
  padding: 0 25%;
  padding-top: 5%;
  height: 100%;
  z-index: 2;
}

.right__auth-content {
  padding-left: 10%;
  padding-top: 5%;
  height: 100%;
  padding-right: 10%;
}

.header___auth-visible {
  display: none;
}

.zwallet-img-preview {
  margin-left: -10%;
}

@media screen and (max-width: 1440px) {
  .left__auth-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  .right__auth-content {
    padding-left: 10%;
    padding-top: 5%;
    height: 100%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .zwallet-img-preview {
    margin-top: -8%;
    margin-left: -8%;
    width: 400px;
    height: 400px;
  }
  .header___auth {
    margin-bottom: 2rem;
  }
  .bg__image-auth {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background-image: url(../img/image/imgAuth.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 992px) {
  .left__auth {
    display: none;
  }
  .right__auth {
    width: 100%;
  }
  .right__auth-content {
    padding: 12px 2rem;
  }
  .header___auth-visible {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .left__auth {
    display: none;
  }
  .right__auth {
    width: 100%;
  }

  .right__auth-content {
    padding: 12px 2rem;
  }
  .header___auth-visible {
    display: block;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .left__auth {
    display: none;
  }

  .auth__wrapper .d-flex {
    display: flex;
    flex-direction: column;
  }
  .right__auth {
    width: 100%;
  }
  .right__auth-content {
    padding: 12px 0.8rem;
  }
  .header___auth-visible {
    display: block;
    margin-bottom: 40px;
  }
}
