.header___auth {
  margin-top: -15px;
  margin-bottom: -25px;
  width: 120%;
}

.left__auth {
  height: 100vh;
  width: 60%;
  background-color: rgb(75, 72, 75);
}

.right__auth {
  height: 100vh;
  width: 40%;
}

.left__auth-content {
  padding: 5% 25%;
  flex-flow: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/image/imgAuth.png);
  display: flex;
  height: 100%;
  align-items: center;
}

.right__auth-content {
  padding-left: 50px;
  padding-top: 121px;
  height: 100%;
  padding-right: 20%;
}

.header___auth-visible {
  display: none;
}

@media screen and (max-width: 992px) {
  .left__auth {
    display: none;
  }
  .right__auth {
    width: 100%;
  }
  .right__auth-content {
    padding: 120px 6%;
  }
  .header___auth-visible {
    display: block;
    margin-top: -25px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .left__auth {
    display: none;
  }
  .right__auth {
    width: 100%;
  }

  .right__auth-content {
    padding: 120px 4%;
  }
  .header___auth-visible {
    display: block;
    margin-top: -25px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .left__auth {
    display: none;
  }

  .auth__wrapper .d-flex {
    display: flex;
    flex-direction: column;
  }
  .right__auth {
    width: 100%;
  }
  .right__auth-content {
    padding: 120px 2%;
  }
  .header___auth-visible {
    display: block;
    margin-top: -25px;
    margin-bottom: 40px;
  }
}
