.receiverCard{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    margin-bottom: 20px;
}
.imgContact{
    width: 70px;
    height: 70px;
    /* background-blend-mode: normal; */
    border-radius: 10px;
    /* background-size:cover; */
}
.contactDesc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}
.column{
    flex-direction: column;
}
.phone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.marginZero{
    margin: 0;
}