.wrapper {
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sidebar {
    margin-left: -80% !important;
    padding-top: 100px;
    width: 70% !important;
    transition: all 0.5s ease-in-out;
}

.sidebar-active {
    transition: all 0.5s ease-in-out;
    width: 70% !important;
    margin-left: 0% !important;
}

.main-slide {
    width: 100% !important;
    margin-right: -80% !important;
    transition: all 0.5s ease-in-out;
}

.main-content {
    width: 100%;
    padding-top: 100px;
    display: block;
    transition: all 0.5s ease-in-out;
}

.sidebarContent {
    border-radius: 10px !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    overflow-y: scroll;
}

.sidebarContent::-webkit-scrollbar {
    display: none;
}

.mainComponent {
    border-radius: 10px !important;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}

.mainComponent::-webkit-scrollbar {
    display: none;
}


@media (min-width: 576px) {
    .sidebar {
        margin-left: -90% !important;
    }

    .sidebar-active {
        width: 60% !important;
        margin-left: 0% !important;
    }

    .main-slide {
        margin-right: -65% !important;
    }
}

@media (min-width: 768px) {
    .sidebar {
        margin-left: -90% !important;
    }

    .sidebar-active {
        width: 50% !important;
        margin-left: 0% !important;
    }

    .main-slide {
        margin-right: -55% !important;
    }
}

@media (min-width: 992px) {
    .sidebar {
        width: 25% !important;
        margin-left: 0% !important;
    }

    .sidebar-active {
        width: 25% !important;
        margin-left: 0% !important;
    }

    .main-slide {
        width: 72% !important;
        margin-right: 0% !important;
    }

    .main-content {
        width: 72% !important;
        margin-right: 0% !important;
    }
}