.wrapper {
    overflow-x: hidden;
}

.sidebar {
    height: calc(100vh - 190px);
    margin-top: 100px;
    width: 25%;
    margin-left: -360px;
    position: fixed;
    display: block;
    transition: all 0.5s ease-in-out;
}

.sidebar-active{
    transition: all 0.5s ease-in-out;
    width: 50%;
    margin-left: 0 !important;
}

.main-slide{
    margin-right: -60% !important;
    margin-left: 60% !important;
    transition: all 0.5s ease-in-out;
}

.main-content {
    height: calc(100vh - 90px);
    padding-top: 100px;
    margin-left: 0px;
    display: block;
    transition: all 0.5s ease-in-out;
}

.sidebarContent {
    border-radius: 10px !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    overflow-y: scroll;
}

.sidebarContent::-webkit-scrollbar {
    display: none;
}

.mainComponent {
    border-radius: 10px !important;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}

.mainComponent::-webkit-scrollbar {
    display: none;
}


@media (min-width: 576px) {
    .sidebar-active{
        width: 40%;
    }

    .main-content {
        margin-left: 0px;
    }

    .sidebar {
        margin-left: -360px;
    }

}

@media (min-width: 768px) {
    .sidebar-active {
        width: 35%;
    }

    .main-slide{
        margin-right: -50% !important;
        margin-left: 50% !important;
    }
    .main-content {
        margin-left: 0px;
    }

    .sidebar {
        margin-left: -360px;
    }
}

@media (min-width: 992px) {
    .main-content {
        margin-left: 360px;
    }

    .sidebar {
        margin-left: 0px;
    }
}