.primary {
  background-color: #6379f4 !important;
}
.bg-disabled {
  background-color: #dadada !important;
}

.border {
  border: unset;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 12px;
}

.c-mt-9 {
  margin-top: 90px;
}
